<h1>New Author</h1>
<%= form_for :author do %>
  <p>
    First name:<br>
    <%= text_field_tag :first_name %>
  </p>
  <p>
    Last name:<br>
    <%= text_field_tag :last_name %>
  </p>
  <p>
    Homepage:<br>
    <%= text_field_tag :homepage %>
  </p>
 
<% end %>