<p>Title: <%= @paper.title %></p>
<p>Venue: <%= @paper.venue %></p>
<p>Year: <%= @paper.year %></p>
<p>Authors:
	<% if @paper.authors.any? %>
		<ul>
			<% @paper.authors.each do |a| %>
				<li><%= a.name %></li>
			<% end %>
		</ul>
	<% end %>
</p>